<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>便签</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="E:\web\demo\todo\style.css">
</head>
<body>

    <div id="app">
        <div class="header">
            <input type="text" placeholder="请输入代办事项" @keyup.enter="addEvent" v-model="addedEvent">
        </div>
       
        <ul>
            <template v-for="(event,index) in events">
                <li>
                    {{ event }}
                    <img class="delete" :src="deleteLogo" alt="" @click="deleteEvent(index)">
                </li>    
            </template>
        </ul>
    </div>

    <script src="E:\web\demo\todo\index.js"></script>
</body>
</html>