<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue案例-便签</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <div class="header">
            <input type="text" placeholder="请输入代办事项" @keyup.enter="addEvent" v-model="addedEvent">
        </div>
       
        <ul>
            <template v-for="(event,index) in events">
                <li>
                    {{ event }}
                    <span @click="deleteEvent(index)">X</span>
                </li>
                
            </template>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el:"#app",
            data:{
                events:["抽烟","喝酒","烫头"],
                addedEvent:''
            },
            methods:{
                addEvent() {
                    if(this.addedEvent != '')
                    {
                        this.events.push(this.addedEvent);
                    }
                },
                deleteEvent(index) {
                    if(index > -1)
                    {
                        this.events.splice(index,1);
                    }

                }
            }
        });
    </script>
</body>
</html>