
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../../sources/todo_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#app .header {
    width: 800px;
    height: 50px;
    text-align: center;
    background-color: rgba(146,154,159,.5);
    margin: 5px auto;
    line-height: 50px;
    border-radius: 5px;
}
#app input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #e9ebec;
    outline-color: #e9ebec;
    padding-left: 10px;
}
#app ul li {
    list-style: none;
    width: 780px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    margin: 10px auto;
    padding-left: 20px;
}

#app span {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}