* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}
.header {
    height: 45px;
    background-color: #fff;
}

.header .nav {
    float: right;
}

.nav ul {
    float: left;
    font-size: 13px;
}
.nav ul li {
    float: left;
    padding: 0 10px;
    text-align: center;
    line-height: 45px;
}

.nav ul .pic a:hover {
    border-bottom: 1px solid #333;
}
.nav .user img {
    border-radius: 16px;
}

/* logo模块 */
.logo {
    width: 272px;
    height: 92px;
    margin: 10px auto;
    padding-top: 109px;
}

.logo img {
    width: 100%;
}

.search {
    position: relative;
    height: 140px;
    /* background-color: pink; */
    margin: 20px 0;
    text-align: center;
}

.search .out {
    width: 585px;
    height: 46px;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 23px;
}

.search .out:hover {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
}

.search .search_logo {
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px 0 0 20px;
}

.search .mico_logo {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    /* padding-right: 20px; */
}
.search .out input {
    width: 487px;
    height: 34px;
    font-size: 16px;
    margin: 4px auto;
    border: 0;
    outline: none;
}

.search center {
    margin: 30px auto;
}

.search center input {
    height: 36px;
    width: 100px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 4px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.search center input:hover {
    background-color: #f3f3f3;
    border: 1px solid #c6c6c6;
}

.language {
    height: 28px;
    text-align: center;
    font-size: 13px;
    color: #222222;
}

.language a {
    color: #1a0dbe;
    padding-left: 10px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;
    background-color: #f2f2f2;
}

.footer .left {
    float: left;
    font-size:14px;
    color:#5f6368;
    line-height: 41px;
}

.footer .left li {
    float: left;
    padding-left: 30px;
}

.footer .right {
    float: right;
    font-size: 14px;
    color: #5f6368;
    line-height: 41px;
}

.footer .right li {
    float: right;
    padding-right: 30px;
}